@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Kanit:wght@500&family=Mochiy+Pop+One&family=Mukta:wght@800&family=Outfit:wght@400;500&family=Rowdies&display=swap');
.main{
        background-color: aliceblue;
        width: 100%;
}
.titulos{
        background-color: #0f0c29;
        text-align: center;
}
.titulos *{
        color: white;
        background-image: linear-gradient(rgb(198, 174, 14),blue);
        font-family: 'Kanit';
        font-size: 2rem;
}
/************************************Estilos uniformes *****************************/
.uniformes_temporada{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
}
.presentacion_uniforme{
        display: flex;
        width: 100%;
        background-color: rgb(233, 233, 233);
        justify-content: center;
}
.presentacion_uniforme img{
        width: 200px;
}
.uniformes{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
}
.card_uniforme{
        width: 100%;
        position: relative;
}
.color_uniforme{
        width: 100%;
        height: 100%;
        clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
        position: absolute;
}


.local{
        background-color: red;
}
.away{
        background-color: aqua;
}
.alternative{
        background-color: purple;
}
.content_uniforme{
        display: flex;
        position: relative;
        flex-wrap: wrap;
}
.content_uniforme img{
        width:18%;
        display: flex;

}
.descripcion_uniforme{
        display: flex;
        justify-content: center;
        align-items: center;
}
.descripcion_uniforme h1{
        font-family: 'Kanit', sans-serif;
        font-size: 1rem;
}
.descripcion_uniforme p{
        font-family: 'Outfit', sans-serif;
        font-size: 5px;
        display: none;
}
.uniforme_visita, .uniforme_alternativo{
        display: none;
}
/**********************************Estilos partidos *******************************/
.jornada{
        font-family: 'Outfit', sans-serif;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
}
.seccion_partidos{
        width: 100%;
}
.lista_partidos{
        display: flex;
        flex-wrap: wrap;
}
.card_partido{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: #0f0c29;
        font-family: 'Mochiy Pop One', sans-serif;
        color: white;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
        padding: 3px;
        border-radius: 3px;
}
.fecha_partido{
        width: 100%;
}
.local_escudo, .datos_partido,.visita{
        width: 33%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
}


.card_partido img{
        width: 150px;
}
.datos_partido h4{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 1px;
}
.datos_partido a{
        text-decoration: none;
        color:white
}
.datos_partido a:hover{
        color: pink;
}
@media (min-width:800px){
        /******************************Estilos uniformes **********************/
        .uniformes_temporada{
                width: 100%;
                display: flex;
                height: 35vw;
                overflow: hidden;
        }
        .presentacion_uniforme{
                width: 50%;
                transition: all 1s;
                display: flex;
                justify-content: center;
        }
        .presentacion_uniforme img{
                width: 250px;
        }
        .uniformes{
                width: 50%;
                display: flex;
                flex-wrap: wrap;
                height: auto;
        }
        .card_uniforme{
                max-width: 100%;
                cursor: pointer;
                height: 33%;
        }
        .content_uniforme{
                height: auto;
        }
        .content_uniforme img{
                width: 100px;
                transition: all 1s;
        }
       
        /**************************Estilos partidos************************/
        .jornada{
                justify-content: space-evenly;
        }
        .lista_partidos{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
        }
        .card_partido{
                max-width: 33%;
        }
        
}